/* CSS GOES HERE */
html {
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
section {
  padding: 60px 20px;
}
section:nth-child(even) {
  background-color: #f2f2f2;
}
section-image {
  width: 300px;
  height: 400px;
}
.section-title {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}
.section-label {
  margin: 0;
}
.section-date {
  margin: 0;
  margin-left: auto;
}
@media (max-width: 600px) {
  .section-title {
    flex-direction: column;
    align-items: flex-start;
  }

  .section-date {
    margin-left: 0;
    margin-top: 4px;
  }
}
.divider {
  width: 100%;
  height: 1px;
  background-color: black;
  margin-top: 8px;
}
.container {
  width: 100%;
  max-width: 960px;
  text-align: left;
  margin: 0 auto;
}
h1 {
  font-size: 3em;
  text-align: center;
}
h2 {
  font-size: 2em;
  text-align: center;
}
section .gallery {
  width: 100%;
}
section .gallery img {
  width: 32%;
}
header {
  background-color: #0047a0;
  color: #fff;
  padding: 10px;
}
header a {
  color: #fff;
  text-decoration: none;
}
footer {
  background-color: #0047a0;
  color: #fff;
  padding: 10px;
}
.footer a {
  color: #fff;
  text-decoration: none;
}
.toc-item {
  display: block;
  text-decoration: none;
  margin-bottom: 6px;
}
.toc-number {
  text-decoration: none;
  margin-right: 4px;
}
.toc-title {
  text-decoration: underline;
}
.toc-item:hover .toc-title {
  text-decoration: underline;
}
.nav-links-right {
  display: flex;
  gap: 20px;
}
.nav-links-left {
  display: flex;
  gap: 20px;
}
.section-courselist {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}

@media (max-width: 768px) {
  .section-courselist {
    flex-direction: column;
  }
}